USE [master]
GO
/****** Object:  Database [QL_RAPCHIEUPHIM]    Script Date: 10/19/2018 8:56:41 AM ******/
CREATE DATABASE [QL_RAPCHIEUPHIM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_RAPCHIEUPHIM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QL_RAPCHIEUPHIM.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_RAPCHIEUPHIM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QL_RAPCHIEUPHIM_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_RAPCHIEUPHIM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_RAPCHIEUPHIM]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 10/19/2018 8:56:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [char](10) NOT NULL,
	[TIENDV] [money] NULL,
	[SLGHEMUA] [int] NULL,
	[THANHTIEN] [decimal](18, 0) NULL,
	[MAKM] [nchar](10) NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/19/2018 8:56:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](10) NOT NULL,
	[MAKH] [char](10) NOT NULL,
	[MAPHIM] [char](10) NOT NULL,
	[NGAYLAPHD] [date] NULL,
	[SUATCHIEU] [char](10) NULL,
	[SLGHEMUA] [int] NULL,
	[THANHTIEN] [varchar](50) NULL,
 CONSTRAINT [PK_HOADON_1] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/19/2018 8:56:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[LOAIKH] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[SDT] [char](15) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHCHIEU]    Script Date: 10/19/2018 8:56:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHCHIEU](
	[MALICHCHIEU] [char](10) NOT NULL,
	[MAPHIM] [char](10) NULL,
	[THOILUONG] [int] NULL,
	[GIOCHIEU] [nchar](10) NULL,
	[NGAYCHIEU] [date] NULL,
	[LOAICHIEU] [char](10) NULL,
	[MARAP] [char](10) NULL,
	[GIA] [varchar](50) NULL,
 CONSTRAINT [PK_LICHCHIEU] PRIMARY KEY CLUSTERED 
(
	[MALICHCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 10/19/2018 8:56:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIM](
	[MAPHIM] [char](10) NOT NULL,
	[TENPHIM] [nvarchar](50) NULL,
	[NAMSX] [int] NULL,
	[MATL] [char](10) NULL,
	[NgayKhoiChieu] [date] NULL,
	[Daodien] [nvarchar](50) NULL,
	[QuocGia] [nvarchar](50) NULL,
	[NgayKetThuc] [date] NULL,
 CONSTRAINT [PK_PHIM] PRIMARY KEY CLUSTERED 
(
	[MAPHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RAP]    Script Date: 10/19/2018 8:56:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RAP](
	[MARAP] [char](10) NOT NULL,
	[TENRAP] [nvarchar](50) NULL,
	[THONGTINRAP] [nvarchar](10) NULL,
	[SLGHE] [int] NULL,
 CONSTRAINT [PK_RAP] PRIMARY KEY CLUSTERED 
(
	[MARAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 10/19/2018 8:56:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATL] [char](10) NOT NULL,
	[TENTHELOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MATL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THONGTINDATGHE]    Script Date: 10/19/2018 8:56:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINDATGHE](
	[KHOA] [int] IDENTITY(1,1) NOT NULL,
	[Suat] [nchar](10) NULL,
	[Rap] [nvarchar](50) NULL,
	[SoGheTrong] [int] NULL,
 CONSTRAINT [PK_THONGTINDATGHE] PRIMARY KEY CLUSTERED 
(
	[KHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [TIENDV], [SLGHEMUA], [THANHTIEN], [MAKM]) VALUES (N'HD01      ', NULL, 2, CAST(10000000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [TIENDV], [SLGHEMUA], [THANHTIEN], [MAKM]) VALUES (N'HD02      ', NULL, 4, NULL, NULL)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [TIENDV], [SLGHEMUA], [THANHTIEN], [MAKM]) VALUES (N'HD03      ', NULL, 1, NULL, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MAPHIM], [NGAYLAPHD], [SUATCHIEU], [SLGHEMUA], [THANHTIEN]) VALUES (N'HD01      ', N'KH01      ', N'P01       ', CAST(N'2017-01-01' AS Date), NULL, NULL, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MAPHIM], [NGAYLAPHD], [SUATCHIEU], [SLGHEMUA], [THANHTIEN]) VALUES (N'HD02      ', N'KH02      ', N'P02       ', CAST(N'2017-01-01' AS Date), NULL, NULL, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MAPHIM], [NGAYLAPHD], [SUATCHIEU], [SLGHEMUA], [THANHTIEN]) VALUES (N'HD03      ', N'KH03      ', N'P03       ', CAST(N'2017-01-01' AS Date), NULL, NULL, NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HO], [TEN], [LOAIKH], [email], [SDT]) VALUES (N'KH01      ', NULL, NULL, N'KHACH CO THE', NULL, NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HO], [TEN], [LOAIKH], [email], [SDT]) VALUES (N'KH02      ', NULL, NULL, N'KHACH CO THE', NULL, NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HO], [TEN], [LOAIKH], [email], [SDT]) VALUES (N'KH03      ', NULL, NULL, N'KHACH KHONG THE', NULL, NULL)
INSERT [dbo].[LICHCHIEU] ([MALICHCHIEU], [MAPHIM], [THOILUONG], [GIOCHIEU], [NGAYCHIEU], [LOAICHIEU], [MARAP], [GIA]) VALUES (N'LC01      ', N'P01       ', 150, N'15:00:00  ', CAST(N'2017-01-01' AS Date), N'3D        ', N'R01       ', N'80000')
INSERT [dbo].[LICHCHIEU] ([MALICHCHIEU], [MAPHIM], [THOILUONG], [GIOCHIEU], [NGAYCHIEU], [LOAICHIEU], [MARAP], [GIA]) VALUES (N'LC010     ', N'P06       ', 150, N'19:00:00  ', CAST(N'2017-10-28' AS Date), N'3D        ', N'R01       ', N'80000')
INSERT [dbo].[LICHCHIEU] ([MALICHCHIEU], [MAPHIM], [THOILUONG], [GIOCHIEU], [NGAYCHIEU], [LOAICHIEU], [MARAP], [GIA]) VALUES (N'LC02      ', N'P02       ', 130, N'18:00:00  ', CAST(N'2017-01-01' AS Date), N'2D        ', N'R02       ', N'80000')
INSERT [dbo].[PHIM] ([MAPHIM], [TENPHIM], [NAMSX], [MATL], [NgayKhoiChieu], [Daodien], [QuocGia], [NgayKetThuc]) VALUES (N'P01       ', N'AVATAR2', 2009, N'TL01      ', CAST(N'2017-10-05' AS Date), N'ABC', N'CBA', NULL)
INSERT [dbo].[PHIM] ([MAPHIM], [TENPHIM], [NAMSX], [MATL], [NgayKhoiChieu], [Daodien], [QuocGia], [NgayKetThuc]) VALUES (N'P02       ', N'FAST AND FURIOUS 7', 2016, N'TL02      ', CAST(N'2017-10-24' AS Date), NULL, NULL, NULL)
INSERT [dbo].[PHIM] ([MAPHIM], [TENPHIM], [NAMSX], [MATL], [NgayKhoiChieu], [Daodien], [QuocGia], [NgayKetThuc]) VALUES (N'P03       ', N'SECRET GARDEN', 2015, N'TL03      ', NULL, NULL, NULL, NULL)
INSERT [dbo].[RAP] ([MARAP], [TENRAP], [THONGTINRAP], [SLGHE]) VALUES (N'HR010     ', NULL, NULL, NULL)
INSERT [dbo].[RAP] ([MARAP], [TENRAP], [THONGTINRAP], [SLGHE]) VALUES (N'R01       ', N'RAP 1', N'3D', 40)
INSERT [dbo].[RAP] ([MARAP], [TENRAP], [THONGTINRAP], [SLGHE]) VALUES (N'R02       ', N'RAP 2', N'2D', 20)
INSERT [dbo].[THELOAI] ([MATL], [TENTHELOAI]) VALUES (N'TL01      ', N'Khoa học- Viễn tưởng')
INSERT [dbo].[THELOAI] ([MATL], [TENTHELOAI]) VALUES (N'TL02      ', N'Hành động')
INSERT [dbo].[THELOAI] ([MATL], [TENTHELOAI]) VALUES (N'TL03      ', N'Tình cảm')
SET IDENTITY_INSERT [dbo].[THONGTINDATGHE] ON 

INSERT [dbo].[THONGTINDATGHE] ([KHOA], [Suat], [Rap], [SoGheTrong]) VALUES (1, N'15:00:00  ', N'Rap 1', 30)
SET IDENTITY_INSERT [dbo].[THONGTINDATGHE] OFF
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIM] FOREIGN KEY([MAPHIM])
REFERENCES [dbo].[PHIM] ([MAPHIM])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIM1] FOREIGN KEY([MAPHIM])
REFERENCES [dbo].[PHIM] ([MAPHIM])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIM1]
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_LICHCHIEU_PHIM1] FOREIGN KEY([MAPHIM])
REFERENCES [dbo].[PHIM] ([MAPHIM])
GO
ALTER TABLE [dbo].[LICHCHIEU] CHECK CONSTRAINT [FK_LICHCHIEU_PHIM1]
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_LICHCHIEU_RAP] FOREIGN KEY([MARAP])
REFERENCES [dbo].[RAP] ([MARAP])
GO
ALTER TABLE [dbo].[LICHCHIEU] CHECK CONSTRAINT [FK_LICHCHIEU_RAP]
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD  CONSTRAINT [FK_PHIM_THELOAI] FOREIGN KEY([MATL])
REFERENCES [dbo].[THELOAI] ([MATL])
GO
ALTER TABLE [dbo].[PHIM] CHECK CONSTRAINT [FK_PHIM_THELOAI]
GO
/****** Object:  StoredProcedure [dbo].[chonmp]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[chonmp](@tp nvarchar(50))
as
begin
	select MAPHIM from PHIM
	where @tp = TENPHIM
end

GO
/****** Object:  StoredProcedure [dbo].[dongia]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dongia](@tp nvarchar(50) ,@loaichieu char(10) )
as
begin
select GIA
from LICHCHIEU right join PHIM on  PHIM.MAPHIM= LICHCHIEU.MAPHIM
where @tp = TENPHIM and @loaichieu = LOAICHIEU
GROUP BY GIA
end

GO
/****** Object:  StoredProcedure [dbo].[MaHoaDon]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MaHoaDon]
as
begin
declare @manext varchar(150)
declare @max int
select @max =count(MAKH)+ 1 from KHACHHANG   where MAKH like 'HD'
set	@manext='HD' + RIGHT('0' +cast(@max as varchar(18)),18)
while(exists(select MAHD  from HOADON where MAHD = @manext))
begin
	set @max= @max+1
	set @manext='HD' + RIGHT('0' + cast(@max as varchar(18)),18)
end
select @manext
end

GO
/****** Object:  StoredProcedure [dbo].[makh]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[makh]
as
begin
declare @manext varchar(150)
declare @max int
select @max =count(MAKH)+ 1 from KHACHHANG   where MAKH like 'KH'
set	@manext='KH' + RIGHT('0' +cast(@max as varchar(18)),18)
while(exists(select MAKH from HOADON where MAKH = @manext))
begin
	set @max= @max+1
	set @manext='KH' + RIGHT('0' + cast(@max as varchar(18)),18)
end
select @manext
end

GO
/****** Object:  StoredProcedure [dbo].[malichchieu]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[malichchieu]
as
begin
declare @manext varchar(150)
declare @max int
select @max =count(MALICHCHIEU)+ 1 from  LICHCHIEU  where MALICHCHIEU like 'LC'
set	@manext='LC' + RIGHT('0' +cast(@max as varchar(18)),18)
while(exists(select MALICHCHIEU from LICHCHIEU where MALICHCHIEU = @manext))
begin
	set @max= @max+1
	set @manext='LC' + RIGHT('0' + cast(@max as varchar(18)),18)
end
select @manext
end

GO
/****** Object:  StoredProcedure [dbo].[maphim]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[maphim]
as
begin
declare @manext varchar(150)
declare @max int
select @max =count(MAPHIM)+ 1 from PHIM   where MAPHIM like 'P'
set	@manext='P' + RIGHT('0' +cast(@max as varchar(18)),18)
while(exists(select MAPHIM from PHIM where MAPHIM = @manext))
begin
	set @max= @max+1
	set @manext='P' + RIGHT('0' + cast(@max as varchar(18)),18)
end
select @manext
end

GO
/****** Object:  StoredProcedure [dbo].[marap]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[marap]
as
begin
declare @manext varchar(150)
declare @max int
select @max =count(MARAP)+ 1 from RAP   where MARAP like '*R'
set	@manext='R' + RIGHT('0' +cast(@max as varchar(18)),18)
while(exists(select MARAP from RAP where MARAP = @manext))
begin
	set @max= @max+1
	set @manext='R' + RIGHT('0' + cast(@max as varchar(18)),18)
end
select @manext
end
GO
/****** Object:  StoredProcedure [dbo].[ProcRap]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ProcRap](@tp nvarchar(50), @loaichieu char(10),@giochieu nvarchar(10) )
as
begin
select TENRAP
from PHIM left join LICHCHIEU ON PHIM.MAPHIM=LICHCHIEU.MAPHIM right join RAP on  LICHCHIEU.MARAP=RAP.MARAP
where (day(NGAYCHIEU) like day(GETDATE()) and ( MONTH(NGAYCHIEU) like month(getdate())) and (year(NGAYCHIEU)) like year(GETDATE()))
 and @tp=TENPHIM and @loaichieu = LOAICHIEU and @giochieu = GIOCHIEU
 group by TENRAP
end

GO
/****** Object:  StoredProcedure [dbo].[SLghe]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SLghe](@r char(10) )
as
begin
select SLGHE
from LICHCHIEU right join RAP on LICHCHIEU.MARAP = RAP.MARAP
where @r = TENRAP
GROUP BY SLGHE
end

GO
/****** Object:  StoredProcedure [dbo].[suat]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[suat](@tp nvarchar(50), @loaichieu char(10))
as
begin
select GIOCHIEU
from PHIM left join LICHCHIEU ON PHIM.MAPHIM=LICHCHIEU.MAPHIM
where (day(NGAYCHIEU) like day(GETDATE()) and ( MONTH(NGAYCHIEU) like month(getdate())) and (year(NGAYCHIEU)) like year(GETDATE()))
 and @tp=TENPHIM and @loaichieu = LOAICHIEU
group by GIOCHIEU
end

GO
/****** Object:  StoredProcedure [dbo].[tinhghetrong]    Script Date: 10/19/2018 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[tinhghetrong]
(
	@tenrap nvarchar(50),
	@suat char(10)
)
as
begin
	select SoGheTrong from THONGTINDATGHE
	where @tenrap = THONGTINDATGHE.Rap and @suat = THONGTINDATGHE.Suat
end

GO
USE [master]
GO
